@font-face {
    font-family: "funnytype"; 
    src: url("../mlewg/content/fonts/funnytype.ttf") format("truetype");
}
@font-face {
    font-family: "shadok"; 
    src: url("../mlewg/content/fonts/shadok.ttf") format("truetype");
}

body {
    font-family: "funnytype"; 
    font-size: 13.5pt;
    color: #fafafa;
    background-color: #1c1719;
}

#navbar {
    font-size: 20pt;
    border-color: #3e3e3e;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}

#header {
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    font-size: 11pt;
    color: #3f3f3f;
    text-align: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.head {
    font-size: 40pt;
    font-family: "shadok"; 
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, -2px 0 0 #000, 2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
}

.menze {
    color: #17d67d;
    font-family: "shadok"; 
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, -2px 0 0 #000, 2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
}

.tunte {
    color: #d61770;
}

.image {
    border-radius: 5%;
    border-top-width: 8px;
    border-top-style: solid;
    border-right-width: 8px;
    border-right-style: solid;
    border-bottom-width: 8px;
    border-bottom-style: solid;
    border-left-width: 8px;
    border-left-style: solid;
    border-color: #fafafa;
}

.quote {
    font-size: 15pt;
}

.saltine {
    color: inherit;
    text-decoration: none;
}

.lang {
    font-size: 15pt;
}

h2 {
    font-size: 18pt;
}

a {
    text-decoration: none;
}
 
.le-epik-tag a:link,
.le-epik-tag a:visited {
    color: #9063CD; 
    text-decoration: none;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, -2px 0 0 #000, 2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
}

.le-epik-tag a:hover {
    color: #a45ee9; 
    text-decoration: none;    
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, -2px 0 0 #000, 2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000;
}
